:root{
    --primary-hover: rgb(238, 86, 31);
    --primary-active: rgb(195, 80, 39);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}

.centerC {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; 
  
}

body {
      background-image: url('Fondoam.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      backdrop-filter: blur(1px);

    } 

.subtitle{

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

input[type=text] {
  width: 400px;
  padding: 12px 20px;
  margin: 20px 0;
  box-sizing: border-box;
  border-color: aqua;

}

label[for=Usuario]:focus-within {
  color: blue;
}

label[for=Contraseña]:focus-within {
  color: blue;
}
    
.btn{
    background-color: coral;
    border: none;
    padding: 1rem 2rem;
    font-size: 1rem;
    margin: 1rem 1px;
    cursor: pointer;
    border-radius: 8px;
}
.btn:hover{
    background-color: var(--primary-hover);
}

.btn:active{
    background-color: var(--primary-active);
}
    